Package: libtbb-doc
Source: tbb
Version: 2019~U3-1
Architecture: all
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Installed-Size: 46
Depends: libjs-jquery (>= 1.7.1)
Recommends: libtbb-dev, tbb-examples
Section: doc
Priority: optional
Homepage: https://www.threadingbuildingblocks.org/
Description: parallelism library for C++ - documentation
 TBB is a library that helps you leverage multi-core processor
 performance without having to be a threading expert. It represents a
 higher-level, task-based parallelism that abstracts platform details
 and threading mechanism for performance and scalability.
 .
 This package includes the TBB documentation files.
